@font-face {
    font-family: RobotoRegular;
    src: url('.fonts/Roboto-Regular.ttf');
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;


    gap: 40px;
    margin: 0;

    font-family: RobotoRegular, sans-serif;
}

.over_header {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    background-color: #1F2937;    
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 50px;
    
}

.header {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 48px;
    background-color: #1F2937;
}

ul {
    display: flex;
    gap: 24px;

    list-style-type: none;
}

a {
    text-decoration: none;

    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    padding-top: 10px;
    margin-right: auto;

    font-size: 24px;
    color:#F9FAF8;
    font-weight: 700;
}

.sub_header {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 48px;
}

.sign-up_box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex:1;
}

.sign_up {
    margin-right: auto;
    padding: 8px;
    background-color: rgb(20, 100, 146);
    color: white;
    justify-content: center;
    font-size: 16px;

    border: 0;
    border-radius: 10px;
}

.big_text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.little_text {
    font-size: 18px;
    color: #E5E7EB;
}

.placeholder {
    background-color: blue;
    min-width: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;

    background-color: lightslategray;
}

.info_header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.info_boxes {
    display:flex;
    gap: 80px;
    flex-wrap: nowrap;

}

.box1, .box2, .box3, .box4 {
    border: solid;
    width: 100px;
    height: 100px;

    border-radius: 25px;
}

.blurb1, .blurb2, .blurb3, .blurb4 {
    width: 100px;
}

.container1, .container2, .container3, .container4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
}

.quote_space {
    background-color: #E5E7EB;

    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 400px;
    padding-right: 400px;

    display: flex;
    flex-direction: column;


}

.quote_text {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    
}

.quote_attribution {
    text-align: right;
    flex: 0 0 auto;

    font-size: 18px;
    font-weight: bold;
}